<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BoomBook Store</title>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700%7CRaleway:300,400,700%7CPlayfair+Display:700' rel='stylesheet'>

    <link th:href="@{/user/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/user/css/magnific-popup.css}" rel="stylesheet">
    <link th:href="@{/user/css/font-icons.css}" rel="stylesheet">
    <link th:href="@{/user/css/sliders.css}" rel="stylesheet">
    <link th:href="@{/user/css/style.css}" rel="stylesheet">
    <link th:href="@{/user/css/animate.min.css}" rel="stylesheet">

    <!-- Favicons -->

    <link th:href="@{/user/img/boombook-logo.png}" rel="shortcut icon">
    <link th:href="@{/user/img/apple-touch-icon.png}" rel="apple-touch-icon">
    <link th:href="@{/user/img/apple-touch-icon-72x72.png}" sizes="72x72" rel="apple-touch-icon">
    <link th:href="@{/user/img/apple-touch-icon-114x114.png}" sizes="114x114" rel="apple-touch-icon">
    <link th:href="@{/user/css/theme.css}"  type="text/css" media="all" rel="stylesheet">

    <!-- external olanlar için-->

</head>

<body class="relative">

    <!-- Footer Type-1 -->

        <div th:fragment="footer" class="bottom-footer bg-white">
            <div class="container">

                <div class="col-sm-4 copyright sm-text-center">
              <span>
               <b>&copy;</b> <img style="width: 102px;" th:src="@{/user/img/boom-header.png}"> <b>2020. All Rights Reserved.</b>
              </span>
                </div>

            </div>
        </div> <!-- end bottom footer -->

<!-- jQuery Scripts -->

<script type="text/javascript" th:src="@{/user/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/user/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/user/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/user/js/scripts.js}"></script>

<!--
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>
-->


</body>
</html>