<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>BoomBook Store</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700%7CRaleway:300,400,700%7CPlayfair+Display:700' rel='stylesheet'>
  
  <link th:href="@{/user/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/user/css/magnific-popup.css}" rel="stylesheet"/>
  <link th:href="@{/user/css/font-icons.css}" rel="stylesheet"/>
  <link th:href="@{/user/css/sliders.css}" rel="stylesheet"/>
  <link th:href="@{/user/css/style.css}" rel="stylesheet"/>
  <link th:href="@{/user/css/animate.min.css}" rel="stylesheet"/>
  <!-- Css -->
  <!--
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/magnific-popup.css" />
  <link rel="stylesheet" href="css/font-icons.css" />
  <link rel="stylesheet" href="css/sliders.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/animate.min.css" />
  -->

  <!-- Favicons -->

  <link th:href="@{/user/img/boombook-logo.png}" rel="shortcut icon"></head>
  <link th:href="@{/user/img/apple-touch-icon.png}" rel="apple-touch-icon"></head>
  <link th:href="@{/user/img/apple-touch-icon-72x72.png}" sizes="72x72" rel="apple-touch-icon"></head>
  <link th:href="@{/user/img/apple-touch-icon-114x114.png}" sizes="114x114" rel="apple-touch-icon"></head>
  <link th:href="@{/user/css/theme.css}"  type="text/css" media="all" rel="stylesheet"></head>

  <!--
  <link rel="shortcut icon" href="img/boombook-logo.png">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
  <link rel="stylesheet" type="text/css" href="css/theme.css" media="all"/>
  -->

  <!-- external olanlar için-->

  <!--
     
<link rel="stylesheet" type="text/css" href="external/css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="external/css/jquery.fancybox.css"/>
  <link rel="stylesheet" type="text/css" href="external/css/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="external/css/owl.carousel.css"/>


  -->

 
</head>

<body class="relative">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
    </div>
  </div>

  <main class="content-wrapper oh">

    <div th:insert="user/navbar :: navbar"></div>

    <br> <br> <hr> 
    <!-- Hero Slider -->
    <section class="section-wrap nopadding">
      <div class="container">
        <div class="entry-slider">
          <div class="flexslider" id="flexslider-hero">
            <ul class="slides clearfix">
              
             
              <li>
                <img th:src="@{/user/img/event/e2.jpg}" alt="">
                <div class="img-holder img-3"></div>
                <div class="hero-holder text-center">
                  <div class="hero-lines" style="margin-top: 10%;">
                    <h1 class="hero-heading white ">HORROR BOOKS %50 OFF !</h1>
                    
                  </div>
                  <a href="#" class="btn btn-lg btn-warning"  style="top:0px;margin-top: 10%;" ><span>Learn More</span></a>
                </div>
              </li>

              <li>
                <img th:src="@{/user/img/event/e5.jpg}" alt="">
                
                <div class="hero-holder text-center">
                  <div class="hero-lines" style="margin-top: 10%;">
                    <h1 class="hero-heading white">BUY 3 PAY 2 !</h1>
                  </div>
                  <a href="#" class="btn btn-lg btn-warning"   style="top:0px;margin-top: 10%;"><span>Learn More</span></a>
                </div>
              </li>


              <li>
                <img src="@{/user/img/event/e3.jpg}" alt="">
                <div class="img-holder img-4"></div>
                <div class="hero-holder text-center ">
                  <div class="hero-lines"  style="margin-top: 10%;">
                    <h1 class="hero-heading white">BLACK FRIDAY %90 OFF !</h1>
                    
                  </div>
                  <a href="#" class="btn btn-lg btn-warning"   style="top:0px;margin-top: 10%;" ><span>Learn More</span></a>
                </div>
              </li>


              <li>
                <img th:src="@{/user/img/event/e4.jpg}" alt="">
                
                <div class="hero-holder text-center">
                  <div class="hero-lines" style="margin-top: 10%;">
                    <h1 class="hero-heading white">READ THIS BOOKS BEFORE DIE</h1>
                  </div>
                  <a href="#" class="btn btn-lg btn-warning"  style="top:0px;margin-top: 10%;"><span>Learn More</span></a>
                </div>
              </li>
              
            </ul>
          </div>
        </div> <!-- end slider -->
      </div> 
        
    </section> <!-- end hero slider -->

    

    <!-- Best Sellers -->
    <section class="section-wrap pb-0">
      <div class="container">

        <div class="row heading-row">
          <div class="col-md-12 text-center">
            <h2 class="heading uppercase" style="text-align: left;"><b>RECOMMENDED FOR YOU</b></h2>
          </div>
        </div>

        <div class="row">              

          <div class="col-md-3 col-xs-12 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/books/b1.jpg" style="height: 350px;" alt="">
               </a>
               <div class="product-label">
                <span class="sale" style="background-color:darkred;color: whitesmoke;">RECOMMENDED</span>
              </div>
                <div class="product-actions"  style=" pointer-events: none;">
                  <a href="#" class="product-add-to-compare"  data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                    
                  </a>           
                </div>
                <a href="#" class="product-quickview" style=" pointer-events: none;">View Details</a>
              </div>

              <div class="product-details">
               
              <div class="text-center">
                <h2>
                  Silver Sparrow
              </h2>
              <h4 style="font-size: 12px;">
                Tayari Jones
              </h4>
              <span class="price">
                <ins>
                  <span style="font-size: 25px;" class="ammount">$9.99</span>
                  <br><br>
                </ins>  
              </span>
            </div>
                <button type="button" class="btn btn-success" style="background-color: #F26722;">Add to Cart</button>

              </div>                      
          
            </div>
         
          </div>


          <div class="col-md-3 col-xs-12 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/books/b5.jpg" style="height: 350px;" alt="">
               </a>
               <div class="product-label">
                <span class="sale" style="background-color:darkred;color: whitesmoke;">RECOMMENDED</span>
              </div>
                <div class="product-actions"  style=" pointer-events: none;">
                  <a href="#" class="product-add-to-compare"  data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                    
                  </a>           
                </div>
                <a href="#" class="product-quickview" style=" pointer-events: none;">View Details</a>
              </div>

              <div class="product-details">
               
              <div class="text-center">
                <h2>
                  Blood Sugar
              </h2>
              <h4 style="font-size: 12px;">
                Laura Richardson
              </h4>
              <span class="price">
                <ins>
                  <span style="font-size: 25px;" class="ammount">$9.99</span>
                  <br><br>
                </ins>  
              </span>
            </div>
                <button type="button" class="btn btn-success" style="background-color: #F26722;">Add to Cart</button>

              </div>                      
          
            </div>
         
          </div>




          <div class="col-md-3 col-xs-12 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/books/b6.jpg" style="height: 350px;" alt="">
               </a>
               <div class="product-label">
                <span class="sale" style="background-color:darkred;color: whitesmoke;">RECOMMENDED</span>
              </div>
                <div class="product-actions"  style=" pointer-events: none;">
                  <a href="#" class="product-add-to-compare"  data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                    
                  </a>           
                </div>
                <a href="#" class="product-quickview" style=" pointer-events: none;">View Details</a>
              </div>

              <div class="product-details">
               
              <div class="text-center">
                <h2>
                  The First Lady
              </h2>
              <h4 style="font-size: 12px;">
                James Petterson
              </h4>
              <span class="price">
                <ins>
                  <span style="font-size: 25px;" class="ammount">$9.99</span>
                  <br><br>
                </ins>  
              </span>
            </div>
                <button type="button" class="btn btn-success" style="background-color: #F26722;">Add to Cart</button>

              </div>                      
          
            </div>
         
          </div>




          <div class="col-md-3 col-xs-12 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/books/b7.jpg" style="height: 350px;" alt="">
               </a>
               <div class="product-label">
                <span class="sale" style="background-color:darkred;color: whitesmoke;">RECOMMENDED</span>
              </div>
                <div class="product-actions"  style=" pointer-events: none;">
                  <a href="#" class="product-add-to-compare"  data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                    
                  </a>           
                </div>
                <a href="#" class="product-quickview" style=" pointer-events: none;">View Details</a>
              </div>

              <div class="product-details">
               
              <div class="text-center">
                <h2>
                  Strangers
              </h2>
              <h4 style="font-size: 12px;">
                C.L. Taylor
              </h4>
              <span class="price">
                <ins>
                  <span style="font-size: 25px;" class="ammount">$9.99</span>
                  <br><br>
                </ins>  
              </span>
            </div>
                <button type="button" class="btn btn-success" style="background-color: #F26722;">Add to Cart</button>

              </div>                      
          
            </div>
         
          </div>
          
        </div> <!-- end row -->
      </div>
    </section> <!-- end best sellers -->  
    


    <section class="section-wrap pb-0">
      <div class="container">

        <div class="row heading-row">
          <div class="col-md-12 text-center">
            <h2 class="heading uppercase" style="text-align: left;"><b>BEST SELLERS</b></h2>
          </div>
        </div>

        <div class="row">              

          
          <div class="col-md-3 col-xs-12 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/books/b13.jpg" style="height: 350px;" alt="">
               </a>
               <div class="product-label">
                <span class="sale" style="background-color:darkred;color: whitesmoke;">BESTSELLER</span>
              </div>
                <div class="product-actions"  style=" pointer-events: none;">
                  <a href="#" class="product-add-to-compare"  data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                    
                  </a>           
                </div>
                <a href="#" class="product-quickview" style=" pointer-events: none;">View Details</a>
              </div>

              <div class="product-details">
               
              <div class="text-center">
                <h2>
                  Blood in Eden
              </h2>
              <h4 style="font-size: 12px;">
                Peter Treymayne
              </h4>
              <span class="price">
                <ins>
                  <span style="font-size: 25px;" class="ammount">$9.99</span>
                  <br>
                  <br>
                </ins>  
              </span>
            </div>
                <button type="button" class="btn btn-success" style="background-color: #F26722;">Add to Cart</button>

              </div>                      
          
            </div>
         
          </div>





          <div class="col-md-3 col-xs-12 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/books/b14.jpg" style="height: 350px;" alt="">
               </a>
               <div class="product-label">
                <span class="sale" style="background-color:darkred;color: whitesmoke;">BESTSELLER</span>
              </div>
                <div class="product-actions"  style=" pointer-events: none;">
                  <a href="#" class="product-add-to-compare"  data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                    
                  </a>           
                </div>
                <a href="#" class="product-quickview" style=" pointer-events: none;">View Details</a>
              </div>

              <div class="product-details">
               
              <div class="text-center">
                <h2>
                  Death's Dark Valley
              </h2>
              <h4 style="font-size: 12px;">
                Paul Doherty
              </h4>
              <span class="price">
                <ins>
                  <span style="font-size: 25px;" class="ammount">$9.99</span>
                  <br><br>
                </ins>  
              </span>
            </div>
                <button type="button" class="btn btn-success" style="background-color: #F26722;">Add to Cart</button>

              </div>                      
          
            </div>
         
          </div>





          <div class="col-md-3 col-xs-12 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/books/b12.jpg" style="height: 350px;" alt="">
               </a>
               <div class="product-label">
                <span class="sale" style="background-color:darkred;color: whitesmoke;">BESTSELLER</span>
              </div>
                <div class="product-actions"  style=" pointer-events: none;">
                  <a href="#" class="product-add-to-compare"  data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                    
                  </a>           
                </div>
                <a href="#" class="product-quickview" style=" pointer-events: none;">View Details</a>
              </div>

              <div class="product-details">
               
              <div class="text-center">
                <h2>
                  Cross of Fire
              </h2>
              <h4 style="font-size: 12px;">
                David Gilman
              </h4>
              <span class="price">
                <ins>
                  <span style="font-size: 25px;" class="ammount">$9.99</span>
                  <br><br>
                </ins>  
              </span>
            </div>
                <button type="button" class="btn btn-success" style="background-color: #F26722;">Add to Cart</button>

              </div>                      
          
            </div>
         
          </div>





          <div class="col-md-3 col-xs-12 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/books/b4.jpg" style="height: 350px;" alt="">
               </a>
               <div class="product-label">
                <span class="sale" style="background-color:darkred;color: whitesmoke;">BESTSELLER</span>
              </div>
                <div class="product-actions"  style=" pointer-events: none;">
                  <a href="#" class="product-add-to-compare"  data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                    
                  </a>           
                </div>
                <a href="#" class="product-quickview" style=" pointer-events: none;">View Details</a>
              </div>

              <div class="product-details">
               
              <div class="text-center">
                <h2>
                  Radical Acts of Love
              </h2>
              <h4 style="font-size: 12px;">
                Janie Brown
              </h4>
              <span class="price">
                <ins>
                  <span style="font-size: 25px;" class="ammount">$9.99</span>
                  <br><br>
                </ins>  
              </span>
            </div>
                <button type="button" class="btn btn-success" style="background-color: #F26722;">Add to Cart</button>

              </div>                      
          
            </div>
         
          </div>

        </div> <!-- end row -->
      </div>
    </section> <!-- end best sellers -->  






    <section class="section-wrap pb-0">
      <div class="container">

        <div class="row heading-row">
          <div class="col-md-12 text-center">
            <h2 class="heading uppercase" style="text-align: left;"><b>NEW ARRIVALS</b></h2>
          </div>
        </div>

        <div class="row">              

          
          <div class="col-md-3 col-xs-12 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/books/b13.jpg" style="height: 350px;" alt="">
               </a>
               <div class="product-label">
                <span class="sale" style="background-color:darkred;color: whitesmoke;">NEW</span>
              </div>
                <div class="product-actions"  style=" pointer-events: none;">
                  <a href="#" class="product-add-to-compare"  data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                    
                  </a>           
                </div>
                <a href="#" class="product-quickview" style=" pointer-events: none;">View Details</a>
              </div>

              <div class="product-details">
               
              <div class="text-center">
                <h2>
                  Blood in Eden
              </h2>
              <h4 style="font-size: 12px;">
                Peter Treymayne
              </h4>
              <span class="price">
                <ins>
                  <span style="font-size: 25px;" class="ammount">$9.99</span>
                  <br><br>
                </ins>  
              </span>
            </div>
                <button type="button" class="btn btn-success" style="background-color: #F26722;">Add to Cart</button>

              </div>                      
          
            </div>
         
          </div>





          <div class="col-md-3 col-xs-12 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/books/b14.jpg" style="height: 350px;" alt="">
               </a>
               <div class="product-label">
                <span class="sale" style="background-color:darkred;color: whitesmoke;">NEW</span>
              </div>
                <div class="product-actions"  style=" pointer-events: none;">
                  <a href="#" class="product-add-to-compare"  data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                    
                  </a>           
                </div>
                <a href="#" class="product-quickview" style=" pointer-events: none;">View Details</a>
              </div>

              <div class="product-details">
               
              <div class="text-center">
                <h2>
                  Death's Dark Valley
              </h2>
              <h4 style="font-size: 12px;">
                Paul Doherty
              </h4>
              <span class="price">
                <ins>
                  <span style="font-size: 25px;" class="ammount">$9.99</span>
                  <br><br>
                </ins>  
              </span>
            </div>
                <button type="button" class="btn btn-success" style="background-color: #F26722;">Add to Cart</button>

              </div>                      
          
            </div>
         
          </div>





          <div class="col-md-3 col-xs-12 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/books/b12.jpg" style="height: 350px;" alt="">
               </a>
               <div class="product-label">
                <span class="sale" style="background-color:darkred;color: whitesmoke;">NEW</span>
              </div>
                <div class="product-actions"  style=" pointer-events: none;">
                  <a href="#" class="product-add-to-compare"  data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                    
                  </a>           
                </div>
                <a href="#" class="product-quickview" style=" pointer-events: none;">View Details</a>
              </div>

              <div class="product-details">
               
              <div class="text-center">
                <h2>
                  Cross of Fire
              </h2>
              <h4 style="font-size: 12px;">
                David Gilman
              </h4>
              <span class="price">
                <ins>
                  <span style="font-size: 25px;" class="ammount">$9.99</span>
                  <br><br>
                </ins>  
              </span>
            </div>
                <button type="button" class="btn btn-success" style="background-color: #F26722;">Add to Cart</button>

              </div>                      
          
            </div>
         
          </div>





          <div class="col-md-3 col-xs-12 animated-from-left">
            <div class="product-item">
              <div class="product-img">
                <a href="#">
                  <img src="img/books/b4.jpg" style="height: 350px;" alt="">
               </a>
               <div class="product-label">
                <span class="sale" style="background-color:darkred;color: whitesmoke;">NEW</span>
              </div>
                <div class="product-actions"  style=" pointer-events: none;">
                  <a href="#" class="product-add-to-compare"  data-toggle="tooltip" data-placement="bottom" title="Add to compare">
                    <i class="fa fa-exchange"></i>
                    
                  </a>           
                </div>
                <a href="#" class="product-quickview" style=" pointer-events: none;">View Details</a>
              </div>

              <div class="product-details">
               
              <div class="text-center">
                <h2>
                  Radical Acts of Love
              </h2>
              <h4 style="font-size: 12px;">
                Janie Brown
              </h4>
              <span class="price">
                <ins>
                  <span style="font-size: 25px;" class="ammount">$9.99</span>
                  <br><br>
                </ins>  
              </span>
            </div>
                <button type="button" class="btn btn-success" style="background-color: #F26722;">Add to Cart</button>

              </div>                      
          
            </div>
         
          </div>

        </div> <!-- end row -->
      </div>
    </section> <!-- end new Arrival -->  

        
    <!-- Footer Type-1 -->
    <footer class="footer footer-type-1 bg-white">
      <div th:insert="user/footer :: footer"></div>
    </footer> <!-- end footer -->

  </main> <!-- end main container -->

  <!-- jQuery Scripts -->

  <script type="text/javascript" th:src="@{/user/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/user/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/user/js/plugins.js}"></script>
  <script type="text/javascript" th:src="@{/user/js/scripts.js}"></script>

<!--
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>
-->
  
    
</body>
</html>